In [1017]:
import pandas as pd
import locale
import pickle
locale.setlocale(locale.LC_TIME, 'pt_BR.UTF-8')

'pt_BR.UTF-8'

In [1018]:
with open('../src/depara/trends/categoria.pkl', 'rb') as arq:
    lista_categoria = pickle.load(arq)
lista_categoria

    ID        NOME_CATEGORIA
0    1      Film & Animation
1    2      Autos & Vehicles
2   10                 Music
3   15        Pets & Animals
4   17                Sports
5   18          Short Movies
6   19       Travel & Events
7   20                Gaming
8   21         Videoblogging
9   22        People & Blogs
10  23                Comedy
11  24         Entertainment
12  25       News & Politics
13  26         Howto & Style
14  27             Education
15  28  Science & Technology
16  30                Movies
17  31       Anime/Animation
18  32      Action/Adventure
19  33              Classics
20  34                Comedy
21  35           Documentary
22  36                 Drama
23  37                Family
24  38               Foreign
25  39                Horror
26  40        Sci-Fi/Fantasy
27  41              Thriller
28  42                Shorts
29  43                 Shows
30  44              Trailers

In [1019]:
dtypes = {
    'ID_CATEGORIA' : 'int32',
    'ID_CANAL' : 'string',
    'NM_CANAL' : 'string',
    'ID_VIDEO' : 'string',
    'TITULO_VIDEO' : 'string',
    'DURACAO' : 'string',
    'DESCRICAO': 'string',
    'TOTAL_COMENTARIOS' : 'float32',
    'TOTAL_FAVORITOS': 'int32',
    'TOTAL_LIKES': 'float32',
    'TOTAL_VISUALIZACOES': 'int32'
}

# Funções gerais

In [1020]:
def traduzir_dia_da_semana(dia):
    traducao = {
        'Sunday': 'Domingo',
        'Monday': 'Segunda-feira',
        'Tuesday': 'Terça-feira',
        'Wednesday': 'Quarta-feira',
        'Thursday': 'Quinta-feira',
        'Friday': 'Sexta-feira',
        'Saturday': 'Sábado'
    }
    return traducao.get(dia, dia)

In [1021]:
def turno_semana(hora: int):
    if 0 <= hora < 6:
        turno = 'Madrugada', 1
    elif 6 <= hora < 12:
        turno = 'Manhã' , 2
    elif 12 <= hora < 18:
        turno = 'Tarde', 3
    else:
        turno = 'Noite', 4
    return turno

# Abrir dataframe

In [1022]:
datas = [
    'extracao_data_2023_10_15',
    'extracao_data_2023_10_16', 
    'extracao_data_2023_10_17', 
    'extracao_data_2023_10_18',
    'extracao_data_2023_10_19',
    'extracao_data_2023_10_20',
    'extracao_data_2023_10_21',
    'extracao_data_2023_10_22',
    'extracao_data_2023_10_23',
    'extracao_data_2023_10_24',
    'extracao_data_2023_10_25',
    'extracao_data_2023_10_26',
    'extracao_data_2023_10_27']
base_original = pd.DataFrame()
for path in datas:
    try:
        base_temp = pd.read_parquet(f'../data/prata/top_brazil/{path}/historico_top_brazil.parquet')
        base_original = pd.concat([base_original, base_temp])
    except Exception as e:
        print(path)
        print()
        pass

extracao_data_2023_10_17

extracao_data_2023_10_18

In [1023]:
base_original.head()

,data_extracao,ID_CATEGORIA,ID_CANAL,NM_CANAL,ID_VIDEO,TITULO_VIDEO,DURACAO,DESCRICAO,TOTAL_COMENTARIOS,TOTAL_FAVORITOS,TOTAL_LIKES,TOTAL_VISUALIZACOES
0,2023-10-15 14:38:56,24,UCX6OQ3DkcsbYNE6H8uQQuVA,MrBeast,3ryID_SwU5E,"$1 Vs $100,000,000 House!",PT17M36S,I can’t believe how expensive the last house i...,100754,0,3182804,64102803
1,2023-10-15 14:38:56,25,UC376n347Ob5Lwzq2WGzF1AA,SBT News,146wNN1qwPk,Terminou prazo de Israel para que palestinos d...,PT8M41S,"Terminou, no início desta noite (13.out), o pr...",2683,0,19545,1050551
2,2023-10-15 14:38:56,20,UCmhx7Q1WRB85e7bF-MHcehA,Ligonz,uqN9GrkAxOI,FUI EXPULSO DA CREATIVE SQUAD 4,PT15M,#creativesquad4 #cs4 #expulso #genshinimpact ...,335,0,11423,239520
3,2023-10-15 14:38:56,20,UCcqcrpCct3dlF8H-3lv7sKA,Nait,RUNExoWpWbc,24 HORAS para ser DESBANIDO da Creative Squad,PT11M55S,BAIXE AGORA GENSHIN IMPACT E VENHA CONHECER ES...,220,0,8113,138405
4,2023-10-15 14:38:56,10,UCRD1ypvmK7e_05Rtu9zHOfQ,Ana Castela,IgG1ekanyFQ,Ana Castela - Alerta de Golpe (DVD Boiadeira I...,PT2M30S,Ouça agora: https://agroplaybr.ffm.to/boiadeir...,1789,0,29201,931886

In [1024]:
base_original.info()

<class 'pandas.core.frame.DataFrame'>
Index: 29399 entries, 0 to 2349
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   data_extracao        29399 non-null  object
 1   ID_CATEGORIA         29399 non-null  object
 2   ID_CANAL             29399 non-null  object
 3   NM_CANAL             29399 non-null  object
 4   ID_VIDEO             29399 non-null  object
 5   TITULO_VIDEO         29399 non-null  object
 6   DURACAO              29399 non-null  object
 7   DESCRICAO            29399 non-null  object
 8   TOTAL_COMENTARIOS    28472 non-null  object
 9   TOTAL_FAVORITOS      29399 non-null  object
 10  TOTAL_LIKES          28796 non-null  object
 11  TOTAL_VISUALIZACOES  29399 non-null  object
dtypes: object(12)
memory usage: 2.9+ MB

In [1025]:
base_original['data_extracao'] = base_original['data_extracao'].astype('datetime64[ns]')
base_original['ID_CATEGORIA'] = base_original['ID_CATEGORIA'].astype('string')
base_original['ID_CANAL'] = base_original['ID_CANAL'].astype('string')
base_original['NM_CANAL'] = base_original['NM_CANAL'].astype('string')
base_original['ID_VIDEO'] = base_original['ID_VIDEO'].astype('string')
base_original['TITULO_VIDEO'] = base_original['TITULO_VIDEO'].astype('string')
base_original['DURACAO'] = base_original['DURACAO'].astype('string')
base_original['DESCRICAO'] = base_original['DESCRICAO'].astype('string')
base_original['TOTAL_COMENTARIOS'] = base_original['TOTAL_COMENTARIOS'].astype('float32')
base_original['TOTAL_FAVORITOS'] = base_original['TOTAL_FAVORITOS'].astype('float32')
base_original['TOTAL_LIKES'] = base_original['TOTAL_LIKES'].astype('float32')
base_original['TOTAL_VISUALIZACOES'] = base_original['TOTAL_VISUALIZACOES'].astype('float32')

In [1026]:
base_original['TOTAL_FAVORITOS'] = base_original['TOTAL_FAVORITOS'].astype('int32',errors='ignore')
base_original['TOTAL_LIKES'] = base_original['TOTAL_LIKES'].astype('int32', errors='ignore')
base_original['TOTAL_VISUALIZACOES'] = base_original['TOTAL_VISUALIZACOES'].astype('int32', errors='ignore')

In [1027]:
base_original.info()

<class 'pandas.core.frame.DataFrame'>
Index: 29399 entries, 0 to 2349
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   data_extracao        29399 non-null  datetime64[ns]
 1   ID_CATEGORIA         29399 non-null  string
 2   ID_CANAL             29399 non-null  string
 3   NM_CANAL             29399 non-null  string
 4   ID_VIDEO             29399 non-null  string
 5   TITULO_VIDEO         29399 non-null  string
 6   DURACAO              29399 non-null  string
 7   DESCRICAO            29399 non-null  string
 8   TOTAL_COMENTARIOS    28472 non-null  float32
 9   TOTAL_FAVORITOS      29399 non-null  int32
 10  TOTAL_LIKES          28796 non-null  float32
 11  TOTAL_VISUALIZACOES  29399 non-null  int32
dtypes: datetime64[ns](1), float32(2), int32(2), string(7)
memory usage: 2.5 MB

In [1028]:
base_original['DATA_EXTRACAO_API'] = base_original['data_extracao']
base_original.drop('data_extracao', axis=1, inplace=True)

In [1029]:
base_original['DATA_EXTRACAO'] = base_original['DATA_EXTRACAO_API'].dt.date.astype('datetime64[ns]')
base_original['HORA_EXTRACAO'] = base_original['DATA_EXTRACAO_API'].dt.hour
base_original['TURNO_EXTRACAO'] = base_original['HORA_EXTRACAO'].apply(lambda x : turno_semana(x)[0]).astype('string')
base_original['SEMANA_EXTRACAO'] = base_original['DATA_EXTRACAO_API'].dt.strftime('%A').str.capitalize().astype('string')
base_original['INDICE_TURNO_EXTRACAO'] =  base_original['HORA_EXTRACAO'].apply(lambda x : turno_semana(x)[1]).astype('int32')
base_original['INDICE_SEMANA_EXTRACAO'] = base_original['DATA_EXTRACAO'].dt.day_of_week
base_original

,ID_CATEGORIA,ID_CANAL,NM_CANAL,ID_VIDEO,TITULO_VIDEO,DURACAO,DESCRICAO,TOTAL_COMENTARIOS,TOTAL_FAVORITOS,TOTAL_LIKES,TOTAL_VISUALIZACOES,DATA_EXTRACAO_API,DATA_EXTRACAO,HORA_EXTRACAO,TURNO_EXTRACAO,SEMANA_EXTRACAO,INDICE_TURNO_EXTRACAO,INDICE_SEMANA_EXTRACAO
0,24,UCX6OQ3DkcsbYNE6H8uQQuVA,MrBeast,3ryID_SwU5E,"$1 Vs $100,000,000 House!",PT17M36S,I can’t believe how expensive the last house i...,100754.0,0,3182804.0,64102804,2023-10-15 14:38:56,2023-10-15,14,Tarde,Domingo,3,6
1,25,UC376n347Ob5Lwzq2WGzF1AA,SBT News,146wNN1qwPk,Terminou prazo de Israel para que palestinos d...,PT8M41S,"Terminou, no início desta noite (13.out), o pr...",2683.0,0,19545.0,1050551,2023-10-15 14:38:56,2023-10-15,14,Tarde,Domingo,3,6
2,20,UCmhx7Q1WRB85e7bF-MHcehA,Ligonz,uqN9GrkAxOI,FUI EXPULSO DA CREATIVE SQUAD 4,PT15M,#creativesquad4 #cs4 #expulso #genshinimpact ...,335.0,0,11423.0,239520,2023-10-15 14:38:56,2023-10-15,14,Tarde,Domingo,3,6
3,20,UCcqcrpCct3dlF8H-3lv7sKA,Nait,RUNExoWpWbc,24 HORAS para ser DESBANIDO da Creative Squad,PT11M55S,BAIXE AGORA GENSHIN IMPACT E VENHA CONHECER ES...,220.0,0,8113.0,138405,2023-10-15 14:38:56,2023-10-15,14,Tarde,Domingo,3,6
4,10,UCRD1ypvmK7e_05Rtu9zHOfQ,Ana Castela,IgG1ekanyFQ,Ana Castela - Alerta de Golpe (DVD Boiadeira I...,PT2M30S,Ouça agora: https://agroplaybr.ffm.to/boiadeir...,1789.0,0,29201.0,931886,2023-10-15 14:38:56,2023-10-15,14,Tarde,Domingo,3,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2345,20,UCKAdZfnAhMY9RFSD4qL4KCQ,Tigre TV,EV8_D0Mx6aI,O DIA CHEGOU!!! ATUALIZAÇÃO 20 do BLOX FRUITS ...,PT12M43S,Use StarCode ⇢ TigreTV ⇠ e ajude o tigrinho he...,502.0,0,4833.0,101571,2023-10-27 19:02:33,2023-10-27,19,Noite,Sexta-feira,4,4
2346,10,UCDVAzIDnbgElNB4XCrYLvsA,Bruno Gadiol,fDbNLQSddTQ,"Bruno Gadiol, Grag Queen - f:)da-se (Videoclip...",PT2M55S,"Esse é o videoclipe oficial de ""f:)da-se"". Cl...",362.0,0,7590.0,62678,2023-10-27 19:02:33,2023-10-27,19,Noite,Sexta-feira,4,4
2347,10,UCfUEYnV7UjMRfBGY0bfEkPA,JOTAPÊ,Ol_t-hgXrv0,JOTAPÊ - JARDIM DAS FLORES (Prod. Marquinho no...,PT3M23S,Ouça #jardimdasflores em todas as plataformas ...,4034.0,0,66104.0,538508,2023-10-27 19:02:33,2023-10-27,19,Noite,Sexta-feira,4,4
2348,10,UCFZsvdD_Sb98qFdtSU7Et2Q,Tz da Coronel,XyA8jDHTEcU,Tz da Coronel - Castelo de Areia feat. Veigh &...,PT3M43S,Ouça o álbum #DACOROMODE em todas as plataform...,1271.0,0,46277.0,1003517,2023-10-27 19:02:33,2023-10-27,19,Noite,Sexta-feira,4,4
2349,20,UCtXXSuHUWh1-PRC7AeDB7mg,Saadhak,f9TbPK2KVrY,TUDO sobre ISO NOVO AGENTE do VALORANT | LOUD...,PT13M30S,Matias Delipetro - Saadhak 🐦 📷 . Twitter https...,568.0,0,16357.0,205837,2023-10-27 19:02:33,2023-10-27,19,Noite,Sexta-feira,4,4

# popularidade categoria

- Valor max por turno

In [1030]:
base_original.info()

<class 'pandas.core.frame.DataFrame'>
Index: 29399 entries, 0 to 2349
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   ID_CATEGORIA            29399 non-null  string
 1   ID_CANAL                29399 non-null  string
 2   NM_CANAL                29399 non-null  string
 3   ID_VIDEO                29399 non-null  string
 4   TITULO_VIDEO            29399 non-null  string
 5   DURACAO                 29399 non-null  string
 6   DESCRICAO               29399 non-null  string
 7   TOTAL_COMENTARIOS       28472 non-null  float32
 8   TOTAL_FAVORITOS         29399 non-null  int32
 9   TOTAL_LIKES             28796 non-null  float32
 10  TOTAL_VISUALIZACOES     29399 non-null  int32
 11  DATA_EXTRACAO_API       29399 non-null  datetime64[ns]
 12  DATA_EXTRACAO           29399 non-null  datetime64[ns]
 13  HORA_EXTRACAO           29399 non-null  int32
 14  TURNO_EXTRACAO          29399 non-null  string
 15  SEMANA_EXTRACAO         29399 non-null  string
 16  INDICE_TURNO_EXTRACAO   29399 non-null  int32
 17  INDICE_SEMANA_EXTRACAO  29399 non-null  int32
dtypes: datetime64[ns](2), float32(2), int32(5), string(9)
memory usage: 3.5 MB

In [1031]:
base_original['DATA_EXTRACAO'].unique()

<DatetimeArray>
['2023-10-15 00:00:00', '2023-10-16 00:00:00', '2023-10-19 00:00:00',
 '2023-10-20 00:00:00', '2023-10-21 00:00:00', '2023-10-22 00:00:00',
 '2023-10-23 00:00:00', '2023-10-24 00:00:00', '2023-10-25 00:00:00',
 '2023-10-26 00:00:00', '2023-10-27 00:00:00']
Length: 11, dtype: datetime64[ns]

In [1032]:
base_original = base_original.sort_values(by=['DATA_EXTRACAO', 'INDICE_TURNO_EXTRACAO', 'ID_CATEGORIA', 'ID_CANAL', 'ID_VIDEO'])

In [1033]:
base_max = base_original[['DATA_EXTRACAO', 'TURNO_EXTRACAO','INDICE_TURNO_EXTRACAO', 'ID_CATEGORIA', 'ID_CANAL', 'ID_VIDEO', 'TOTAL_VISUALIZACOES']]
base_max.query('ID_VIDEO == "8KVsaoveTbw" and DATA_EXTRACAO == "2023-10-15" ').sort_values(by=['DATA_EXTRACAO', 'INDICE_TURNO_EXTRACAO'])

,DATA_EXTRACAO,TURNO_EXTRACAO,INDICE_TURNO_EXTRACAO,ID_CATEGORIA,ID_CANAL,ID_VIDEO,TOTAL_VISUALIZACOES
64,2023-10-15,Tarde,3,1,UCuPivVjnfNo4mb3Oog_frZg,8KVsaoveTbw,4029760
264,2023-10-15,Tarde,3,1,UCuPivVjnfNo4mb3Oog_frZg,8KVsaoveTbw,4030703
464,2023-10-15,Tarde,3,1,UCuPivVjnfNo4mb3Oog_frZg,8KVsaoveTbw,4033786
664,2023-10-15,Tarde,3,1,UCuPivVjnfNo4mb3Oog_frZg,8KVsaoveTbw,4042055
864,2023-10-15,Tarde,3,1,UCuPivVjnfNo4mb3Oog_frZg,8KVsaoveTbw,4042055
1064,2023-10-15,Tarde,3,1,UCuPivVjnfNo4mb3Oog_frZg,8KVsaoveTbw,4058589
1264,2023-10-15,Tarde,3,1,UCuPivVjnfNo4mb3Oog_frZg,8KVsaoveTbw,4076406
1463,2023-10-15,Tarde,3,1,UCuPivVjnfNo4mb3Oog_frZg,8KVsaoveTbw,4094821
1695,2023-10-15,Tarde,3,1,UCuPivVjnfNo4mb3Oog_frZg,8KVsaoveTbw,4145625
1894,2023-10-15,Noite,4,1,UCuPivVjnfNo4mb3Oog_frZg,8KVsaoveTbw,4164634
2094,2023-10-15,Noite,4,1,UCuPivVjnfNo4mb3Oog_frZg,8KVsaoveTbw,4189988
2294,2023-10-15,Noite,4,1,UCuPivVjnfNo4mb3Oog_frZg,8KVsaoveTbw,4189988
2494,2023-10-15,Noite,4,1,UCuPivVjnfNo4mb3Oog_frZg,8KVsaoveTbw,4189988
2694,2023-10-15,Noite,4,1,UCuPivVjnfNo4mb3Oog_frZg,8KVsaoveTbw,4204161
2894,2023-10-15,Noite,4,1,UCuPivVjnfNo4mb3Oog_frZg,8KVsaoveTbw,4224058
3094,2023-10-15,Noite,4,1,UCuPivVjnfNo4mb3Oog_frZg,8KVsaoveTbw,4255404
3294,2023-10-15,Noite,4,1,UCuPivVjnfNo4mb3Oog_frZg,8KVsaoveTbw,4279413

In [1034]:
base_max = base_original.groupby(['DATA_EXTRACAO' ,'ID_CATEGORIA', 'ID_VIDEO']).agg(
    TOTAL_VISUALIZACOES=('TOTAL_VISUALIZACOES', 'max'),
    TOTAL_COMENTARIOS=('TOTAL_COMENTARIOS', 'max'),
    TOTAL_LIKES=('TOTAL_LIKES', 'max'),

).reset_index().sort_values(by=['DATA_EXTRACAO', 'ID_CATEGORIA'])
base_max

,DATA_EXTRACAO,ID_CATEGORIA,ID_VIDEO,TOTAL_VISUALIZACOES,TOTAL_COMENTARIOS,TOTAL_LIKES
0,2023-10-15,1,8KVsaoveTbw,4279413,5415.0,78174.0
1,2023-10-15,1,CYcrmsdZuyw,4141018,17758.0,171952.0
2,2023-10-15,1,KKB5C1Dun-Q,269891,114.0,3684.0
3,2023-10-15,1,Zbmkv7tmHGY,61574,140.0,NaN
4,2023-10-15,1,q1MT8GZ3c-E,1895056,13365.0,233452.0
...,...,...,...,...,...,...
2542,2023-10-27,27,Lsqu8N4elwc,94275,225.0,5817.0
2543,2023-10-27,27,YiCIp9MUWpc,414774,471.0,12222.0
2544,2023-10-27,27,aypn3XjQrNU,290339,70.0,2024.0
2545,2023-10-27,28,5-D1faIcUE4,117062,1857.0,10838.0
2546,2023-10-27,28,OwaEsagax50,251993,190.0,7042.0

In [1035]:
lista_categoria

    ID        NOME_CATEGORIA
0    1      Film & Animation
1    2      Autos & Vehicles
2   10                 Music
3   15        Pets & Animals
4   17                Sports
5   18          Short Movies
6   19       Travel & Events
7   20                Gaming
8   21         Videoblogging
9   22        People & Blogs
10  23                Comedy
11  24         Entertainment
12  25       News & Politics
13  26         Howto & Style
14  27             Education
15  28  Science & Technology
16  30                Movies
17  31       Anime/Animation
18  32      Action/Adventure
19  33              Classics
20  34                Comedy
21  35           Documentary
22  36                 Drama
23  37                Family
24  38               Foreign
25  39                Horror
26  40        Sci-Fi/Fantasy
27  41              Thriller
28  42                Shorts
29  43                 Shows
30  44              Trailers

In [1036]:
base_soma = base_max.groupby(['DATA_EXTRACAO', 'ID_CATEGORIA']).agg(
    TOTAL_VISUALIZACOES=('TOTAL_VISUALIZACOES', 'sum'),
    TOTAL_COMENTARIOS=('TOTAL_COMENTARIOS', 'sum'),
    TOTAL_LIKES=('TOTAL_LIKES', 'sum'),
).reset_index()
base_soma.sort_values(by=['TOTAL_VISUALIZACOES'], ascending=False)

,DATA_EXTRACAO,ID_CATEGORIA,TOTAL_VISUALIZACOES,TOTAL_COMENTARIOS,TOTAL_LIKES
18,2023-10-16,24,302692630,607859.0,12370819.0
6,2023-10-15,24,285267739,572539.0,11743140.0
70,2023-10-22,24,216333835,416998.0,8309534.0
82,2023-10-23,24,216287105,414851.0,8164576.0
57,2023-10-21,24,201869458,409446.0,8134761.0
...,...,...,...,...,...
62,2023-10-22,1,82246,149.0,0.0
26,2023-10-19,19,80379,696.0,11134.0
33,2023-10-19,26,54922,710.0,9499.0
20,2023-10-16,26,52180,700.0,9275.0
8,2023-10-15,26,49953,690.0,9076.0

In [1037]:
dataframe = pd.merge(
   lista_categoria, base_soma, how='inner', left_on=['ID'], right_on=['ID_CATEGORIA'])

In [1038]:
dataframe = dataframe.sort_values(by=['DATA_EXTRACAO'])

In [1039]:
dataframe

,ID,NOME_CATEGORIA,DATA_EXTRACAO,ID_CATEGORIA,TOTAL_VISUALIZACOES,TOTAL_COMENTARIOS,TOTAL_LIKES
0,1,Film & Animation,2023-10-15,1,10646952,36792.0,487262.0
102,26,Howto & Style,2023-10-15,26,49953,690.0,9076.0
91,25,News & Politics,2023-10-15,25,11520764,13235.0,248596.0
80,24,Entertainment,2023-10-15,24,285267739,572539.0,11743140.0
69,23,Comedy,2023-10-15,23,1361139,1486.0,68949.0
...,...,...,...,...,...,...,...
79,23,Comedy,2023-10-27,23,1791057,6304.0,142576.0
90,24,Entertainment,2023-10-27,24,102276502,308167.0,4187586.0
101,25,News & Politics,2023-10-27,25,6494695,36556.0,223523.0
46,19,Travel & Events,2023-10-27,19,1038780,11651.0,110221.0
134,28,Science & Technology,2023-10-27,28,369055,2047.0,17880.0

In [1040]:
dataframe.drop(columns=['ID', ''], axis=1, inplace=True)
dataframe['NOME_CATEGORIA'] = dataframe['NOME_CATEGORIA'].astype('string')

In [1041]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
Index: 135 entries, 0 to 134
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   NOME_CATEGORIA       135 non-null    string
 1   DATA_EXTRACAO        135 non-null    datetime64[ns]
 2   ID_CATEGORIA         135 non-null    string
 3   TOTAL_VISUALIZACOES  135 non-null    int32
 4   TOTAL_COMENTARIOS    135 non-null    float32
 5   TOTAL_LIKES          135 non-null    float32
dtypes: datetime64[ns](1), float32(2), int32(1), string(2)
memory usage: 5.8 KB

In [1043]:
dataframe.to_parquet('../data/ouro_csv/trends/popularidade_categoria_trends.parquet')