In [69]:
import pandas as pd

In [70]:
tipos = {
    'ID_VIDEO': 'string',
    'TURNO_EXTRACAO': 'string',
    'INDICE_TURNO_EXTRACAO': 'string',
    'TOTAL_VISUALIZACOES': 'int32'
}

In [71]:
colunas = ['data_extracao', 'ID_VIDEO', 'TURNO_EXTRACAO', 'INDICE_TURNO_EXTRACAO','TOTAL_VISUALIZACOES']

In [72]:
base = pd.read_csv(
    '../data/ouro_csv/total_visualizacoes_por_semana/assunto_cities_skylines/total_visualizacoes_por_semana.csv', 
    sep='|',
    parse_dates=['data_extracao'],
    usecols=colunas,
    dtype=tipos
)

In [73]:
base

,INDICE_TURNO_EXTRACAO,ID_VIDEO,TOTAL_VISUALIZACOES,data_extracao,TURNO_EXTRACAO
0,3,YhXTcceM1NA,181,2023-10-15,Noite
1,3,M34bccK5G1U,1,2023-10-15,Noite
2,3,igxEHvMej3g,7,2023-10-15,Noite
3,3,nMMr_myn5yI,8,2023-10-15,Noite
4,3,weciQDqn07g,441,2023-10-15,Noite
...,...,...,...,...,...
3946,2,8spAaaHolIc,1596,2023-10-27,Tarde
3947,2,Yvcuxu2ch10,5161,2023-10-27,Tarde
3948,2,kkPRDzrBUiY,1043,2023-10-27,Tarde
3949,2,z2wuhLPrUWg,621,2023-10-27,Tarde
3950,2,iFZEeIxXqWw,33,2023-10-27,Tarde

In [74]:
base.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3951 entries, 0 to 3950
Data columns (total 5 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   INDICE_TURNO_EXTRACAO  3951 non-null   string
 1   ID_VIDEO               3951 non-null   string
 2   TOTAL_VISUALIZACOES    3951 non-null   int32
 3   data_extracao          3951 non-null   datetime64[ns]
 4   TURNO_EXTRACAO         3951 non-null   string
dtypes: datetime64[ns](1), int32(1), string(3)
memory usage: 139.0 KB

In [75]:
base = base.query('ID_VIDEO == "YhXTcceM1NA" and data_extracao >= "2023-10-16" and data_extracao <= "2023-10-25"  ')

In [76]:
base = base.sort_values(by=['data_extracao', 'INDICE_TURNO_EXTRACAO'])

In [77]:
base.info()

<class 'pandas.core.frame.DataFrame'>
Index: 23 entries, 23 to 2259
Data columns (total 5 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   INDICE_TURNO_EXTRACAO  23 non-null     string
 1   ID_VIDEO               23 non-null     string
 2   TOTAL_VISUALIZACOES    23 non-null     int32
 3   data_extracao          23 non-null     datetime64[ns]
 4   TURNO_EXTRACAO         23 non-null     string
dtypes: datetime64[ns](1), int32(1), string(3)
memory usage: 1012.0 bytes

In [78]:
base

,INDICE_TURNO_EXTRACAO,ID_VIDEO,TOTAL_VISUALIZACOES,data_extracao,TURNO_EXTRACAO
23,1,YhXTcceM1NA,384,2023-10-16,ManhÃ£
68,2,YhXTcceM1NA,449,2023-10-16,Tarde
42,3,YhXTcceM1NA,469,2023-10-16,Noite
95,1,YhXTcceM1NA,564,2023-10-19,ManhÃ£
231,2,YhXTcceM1NA,567,2023-10-19,Tarde
158,3,YhXTcceM1NA,568,2023-10-19,Noite
303,1,YhXTcceM1NA,569,2023-10-20,ManhÃ£
382,2,YhXTcceM1NA,571,2023-10-20,Tarde
471,1,YhXTcceM1NA,573,2023-10-21,ManhÃ£
673,2,YhXTcceM1NA,573,2023-10-21,Tarde
560,3,YhXTcceM1NA,574,2023-10-21,Noite
779,1,YhXTcceM1NA,575,2023-10-22,ManhÃ£
1026,2,YhXTcceM1NA,575,2023-10-22,Tarde
895,3,YhXTcceM1NA,575,2023-10-22,Noite
1151,1,YhXTcceM1NA,576,2023-10-23,ManhÃ£
1440,2,YhXTcceM1NA,576,2023-10-23,Tarde
1286,3,YhXTcceM1NA,577,2023-10-23,Noite
1585,1,YhXTcceM1NA,581,2023-10-24,ManhÃ£
1919,2,YhXTcceM1NA,581,2023-10-24,Tarde
1745,3,YhXTcceM1NA,581,2023-10-24,Noite
2085,1,YhXTcceM1NA,583,2023-10-25,ManhÃ£
2455,2,YhXTcceM1NA,585,2023-10-25,Tarde
2259,3,YhXTcceM1NA,585,2023-10-25,Noite

In [79]:

base['TOTAL_VISUALIZACOES_DESLOCADO'] = round(base['TOTAL_VISUALIZACOES'].shift(1), 0)
base.fillna('0', axis=1, inplace=True)
base

,INDICE_TURNO_EXTRACAO,ID_VIDEO,TOTAL_VISUALIZACOES,data_extracao,TURNO_EXTRACAO,TOTAL_VISUALIZACOES_DESLOCADO
23,1,YhXTcceM1NA,384,2023-10-16 00:00:00,ManhÃ£,0
68,2,YhXTcceM1NA,449,2023-10-16 00:00:00,Tarde,384.0
42,3,YhXTcceM1NA,469,2023-10-16 00:00:00,Noite,449.0
95,1,YhXTcceM1NA,564,2023-10-19 00:00:00,ManhÃ£,469.0
231,2,YhXTcceM1NA,567,2023-10-19 00:00:00,Tarde,564.0
158,3,YhXTcceM1NA,568,2023-10-19 00:00:00,Noite,567.0
303,1,YhXTcceM1NA,569,2023-10-20 00:00:00,ManhÃ£,568.0
382,2,YhXTcceM1NA,571,2023-10-20 00:00:00,Tarde,569.0
471,1,YhXTcceM1NA,573,2023-10-21 00:00:00,ManhÃ£,571.0
673,2,YhXTcceM1NA,573,2023-10-21 00:00:00,Tarde,573.0
560,3,YhXTcceM1NA,574,2023-10-21 00:00:00,Noite,573.0
779,1,YhXTcceM1NA,575,2023-10-22 00:00:00,ManhÃ£,574.0
1026,2,YhXTcceM1NA,575,2023-10-22 00:00:00,Tarde,575.0
895,3,YhXTcceM1NA,575,2023-10-22 00:00:00,Noite,575.0
1151,1,YhXTcceM1NA,576,2023-10-23 00:00:00,ManhÃ£,575.0
1440,2,YhXTcceM1NA,576,2023-10-23 00:00:00,Tarde,576.0
1286,3,YhXTcceM1NA,577,2023-10-23 00:00:00,Noite,576.0
1585,1,YhXTcceM1NA,581,2023-10-24 00:00:00,ManhÃ£,577.0
1919,2,YhXTcceM1NA,581,2023-10-24 00:00:00,Tarde,581.0
1745,3,YhXTcceM1NA,581,2023-10-24 00:00:00,Noite,581.0
2085,1,YhXTcceM1NA,583,2023-10-25 00:00:00,ManhÃ£,581.0
2455,2,YhXTcceM1NA,585,2023-10-25 00:00:00,Tarde,583.0
2259,3,YhXTcceM1NA,585,2023-10-25 00:00:00,Noite,585.0

In [80]:
base.info()

<class 'pandas.core.frame.DataFrame'>
Index: 23 entries, 23 to 2259
Data columns (total 6 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   INDICE_TURNO_EXTRACAO          23 non-null     object
 1   ID_VIDEO                       23 non-null     object
 2   TOTAL_VISUALIZACOES            23 non-null     object
 3   data_extracao                  23 non-null     object
 4   TURNO_EXTRACAO                 23 non-null     object
 5   TOTAL_VISUALIZACOES_DESLOCADO  23 non-null     object
dtypes: object(6)
memory usage: 1.3+ KB

In [81]:
base[['ID_VIDEO', 'TURNO_EXTRACAO', ]] = base[['ID_VIDEO', 'TURNO_EXTRACAO']].astype('string')
base[['TOTAL_VISUALIZACOES' , 'INDICE_TURNO_EXTRACAO', 'TOTAL_VISUALIZACOES_DESLOCADO']] = base[['TOTAL_VISUALIZACOES', 'INDICE_TURNO_EXTRACAO', 'TOTAL_VISUALIZACOES_DESLOCADO']].astype('int32')
base[['data_extracao']] = base[['data_extracao']].astype('datetime64[ns]')

In [82]:
base.info()

<class 'pandas.core.frame.DataFrame'>
Index: 23 entries, 23 to 2259
Data columns (total 6 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   INDICE_TURNO_EXTRACAO          23 non-null     int32
 1   ID_VIDEO                       23 non-null     string
 2   TOTAL_VISUALIZACOES            23 non-null     int32
 3   data_extracao                  23 non-null     datetime64[ns]
 4   TURNO_EXTRACAO                 23 non-null     string
 5   TOTAL_VISUALIZACOES_DESLOCADO  23 non-null     int32
dtypes: datetime64[ns](1), int32(3), string(2)
memory usage: 1012.0 bytes

In [83]:
base['TOTAL_VISUALIZACOES_VARIACAO'] =  base['TOTAL_VISUALIZACOES'] - base['TOTAL_VISUALIZACOES_DESLOCADO']

In [84]:
base

,INDICE_TURNO_EXTRACAO,ID_VIDEO,TOTAL_VISUALIZACOES,data_extracao,TURNO_EXTRACAO,TOTAL_VISUALIZACOES_DESLOCADO,TOTAL_VISUALIZACOES_VARIACAO
23,1,YhXTcceM1NA,384,2023-10-16,ManhÃ£,0,384
68,2,YhXTcceM1NA,449,2023-10-16,Tarde,384,65
42,3,YhXTcceM1NA,469,2023-10-16,Noite,449,20
95,1,YhXTcceM1NA,564,2023-10-19,ManhÃ£,469,95
231,2,YhXTcceM1NA,567,2023-10-19,Tarde,564,3
158,3,YhXTcceM1NA,568,2023-10-19,Noite,567,1
303,1,YhXTcceM1NA,569,2023-10-20,ManhÃ£,568,1
382,2,YhXTcceM1NA,571,2023-10-20,Tarde,569,2
471,1,YhXTcceM1NA,573,2023-10-21,ManhÃ£,571,2
673,2,YhXTcceM1NA,573,2023-10-21,Tarde,573,0
560,3,YhXTcceM1NA,574,2023-10-21,Noite,573,1
779,1,YhXTcceM1NA,575,2023-10-22,ManhÃ£,574,1
1026,2,YhXTcceM1NA,575,2023-10-22,Tarde,575,0
895,3,YhXTcceM1NA,575,2023-10-22,Noite,575,0
1151,1,YhXTcceM1NA,576,2023-10-23,ManhÃ£,575,1
1440,2,YhXTcceM1NA,576,2023-10-23,Tarde,576,0
1286,3,YhXTcceM1NA,577,2023-10-23,Noite,576,1
1585,1,YhXTcceM1NA,581,2023-10-24,ManhÃ£,577,4
1919,2,YhXTcceM1NA,581,2023-10-24,Tarde,581,0
1745,3,YhXTcceM1NA,581,2023-10-24,Noite,581,0
2085,1,YhXTcceM1NA,583,2023-10-25,ManhÃ£,581,2
2455,2,YhXTcceM1NA,585,2023-10-25,Tarde,583,2
2259,3,YhXTcceM1NA,585,2023-10-25,Noite,585,0

In [ ]:
base.info()

<class 'pandas.core.frame.DataFrame'>
Index: 23 entries, 23 to 2259
Data columns (total 7 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   INDICE_TURNO_EXTRACAO          23 non-null     int32
 1   ID_VIDEO                       23 non-null     string
 2   TOTAL_VISUALIZACOES            23 non-null     int32
 3   data_extracao                  23 non-null     datetime64[ns]
 4   TURNO_EXTRACAO                 23 non-null     string
 5   TOTAL_VISUALIZACOES_DESLOCADO  23 non-null     int32
 6   TOTAL_VISUALIZACOES_VARIACAO   23 non-null     int32
dtypes: datetime64[ns](1), int32(4), string(2)
memory usage: 1.1 KB